p{
	font-family: 'helvetica neue',helvetica.sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 3px solid rgba(0,0,200,0.8);
	background: rgba(0,0,300,0.5);
	color: rgba(0,0,300,0.6);
	box-shadow: 1px 1px 3px rgba(0,0,300,0.6);
	border-radius: 20px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}
h1{
	font-family: 'helvetica neue',helvetica.sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 3px solid rgba(0,0,200,0.8);
	background: rgba(0,0,300,0.5);
	color: rgba(0,0,300,0.6);
	box-shadow: 1px 1px 3px rgba(0,0,300,0.6);
	border-radius: 20px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}
	

